@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    gap: 10px;
    height: 40px;
    width: 200px;
    border: 0px;
    background: #0066FF;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
}

.navbar button {
    width: 162px;
    right: 104px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
}

.userimg {
    width: 24px;
    height: 24px;
}

body {
    font-family: 'Rubik', sans-serif;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

select {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: left;
    background: #E7E9EB;
}

@media only screen and (min-width : 300px) {

    .navbar .side {
        width: 50px;
        border: 0px;
    }

    .mynav {
        padding-right: 0px;
        padding-left: 0px;
    }

    .navbar .logo {
        width: 30%;
    }

    .simpletext {
        width: 610px;
        margin-top: 100px;
        font-weight: 700;
        font-size: 23px;
    }

    .sidepad {
        padding-left: 35px;
    }

    .ftxt {
        font-size: 11px;
    }

    .firstbutton {
        width: 165px;
        height: 30px;
        color: white;
    }

    .firsttext {
        position: absolute;
        font-size: 11px;
    }

    .fireimg {
        width: 20px;
        height: 20px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .monitor {
        width: 90%;
        margin-left: 25px;
        margin-top: 45px;
    }

    .file {
        text-align: center;
        margin-top: 60px;
        font-weight: 600;
        font-size: 21px;
    }

    .some {
        width: 30.56px;
        position: absolute;
        height: 37.88px;
        bottom: -175px;
        left: 317px;
    }

    .filesimg {
        margin-top: 28px;
        width: 78%;
        margin-left: 10px;
    }

    .whattext {
        color: #0066FF;
        margin-top: 120px;
        text-align: center;
    }

    .filespad {
        text-align: center;
    }

    .h {
        font-weight: 600;
    }
    .swirlpng {
        position: absolute;
        left: 576px;
        bottom: -585px;
        width: 50px;
        height: 50px;
    }

    .pad {
        padding: 50px;
    }
    .learn {
        position: relative;
        left: 30px;
        top: -38px;
        color: #0066FF;
    }
    .filespa {
        text-align: center;
        margin-top: 80px;
    }
    .swirlr {
        position: relative;
        width: 168px;
        left: 142px;
        top: -78px;
    }
    .spad {
        padding-top: 30px;
        padding-right: 35px;
        padding-left: 35px;
    }
    .view {
        padding-left: 40px;
        padding-right: 40px;
    }

    .hfont {
        font-size: 22px;
    }
    .arrow {
        position: relative;
        width: 36%;
        height: 17%;
        left: 159px;
        bottom: 109px;
    }
    .sbut {
        padding: 30px;
        margin-left: 65px;
    }
    .z {
        font-size: 22px;
    }
    .textbutton {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        color: white;
        font-size: 15px;
        line-height: 24px;
        width: 90px;
        margin-right: 9px;
    }

   
}

@media only screen and (min-width : 760px) {
    .navbar .logo {
        width: 215px;
    }

    .mynav {
        padding-right: 50px;
        padding-left: 50px;
    }

    .textbutton {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        color: white;
        font-size: 15px;
        line-height: 24px;
        width: 90px;
        margin-right: 9px;
    }

    .simpletext {
        width: 610px;
        margin-top: 100px;
        font-weight: 700;
        font-size: 43px;
    }

    .align {
        width: 561px;
    }

    .firstbutton {
        width: 237px;
        height: 50px;
        color: white;
    }



    .fireimg {
        width: 20px;
        height: 20px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .monitor {
        width: 90%;
        margin-left: 53px;
    }

    .sidepad {
        padding-left: 83px;
    }

    .nav-font {
        font-weight: 600;
    }

    .file {
        font-size: 35px;
        margin-top: 170px;
    }

    .some {
        width: 76.56px;
        height: 99.88px;
        bottom: -153px;
        left: 774px;
    }

    .filesimg {
        margin-top: 51px;
        width: 67%;
    }



    .whattext {
        color: #0066FF;
        margin-top: 120px;
    }

    .filespad {
        text-align: center;
    }

    .h {
        font-weight: 600;
    }

    .swirlpng {
        position: absolute;
        left: 576px;
        bottom: -585px;
        width: 50px;
        height: 50px;
    }

    .pad {
        padding: 50px;
    }

    .learn {
        position: relative;
        left: 30px;
        top: -38px;
        color: #0066FF;
    }

    .filespa {
        text-align: center;
        margin-top: 100px;
    }

    .swirlr {
        position: relative;
        width: 200px;
        left: 558px;
        top: -83px;
    }

    .spad {
        padding-top: 30px;
        padding-right: 18%;
        padding-left: 18%;
    }

    .tpad {
        padding-top: 50px;
    }

    .view {
        padding-left: 60px;
        padding-right: 60px;
    }

    .hfont {
        font-size: 30px;
    }

    .arrow {
        width: 80%;
        margin-bottom: 120px;
    }

    .sbut {
        padding: 30px;
        margin-left: 95px;
    }

    .ftxt {
        font-size: 14px;
    }
}
